WCF/KalturaTestWcfService/KalturaTestWcfClient/Connected Services/RemoteService/StripeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StripeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57907/StripeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57907/StripeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57907/StripeService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStripeService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IStripeService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IStripeService_Transact_InputMessage">
    <wsdl:part name="parameters" element="tns:Transact" />
  </wsdl:message>
  <wsdl:message name="IStripeService_Transact_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactResponse" />
  </wsdl:message>
  <wsdl:portType name="IStripeService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IStripeService/TestConnection" message="tns:IStripeService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStripeService/TestConnectionResponse" message="tns:IStripeService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transact">
      <wsdl:input wsaw:Action="http://tempuri.org/IStripeService/Transact" message="tns:IStripeService_Transact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStripeService/TransactResponse" message="tns:IStripeService_Transact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStripeService" type="tns:IStripeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IStripeService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transact">
      <soap:operation soapAction="http://tempuri.org/IStripeService/Transact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StripeService">
    <wsdl:port name="BasicHttpBinding_IStripeService" binding="tns:BasicHttpBinding_IStripeService">
      <soap:address location="http://localhost:57907/StripeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>